div.feed{
margin:50px 25px 0 25px;
border:1px solid #B2B2B2;
background: #F3F4F6;
border-radius:16px;
box-shadow: 3px 3px 15px #ABABAB;
}
div.feed p{
margin:30px 25px 30px 25px;
font-weight:900;
}
div.feed p span{
font-size: 1.2em;
}
div.feed p.news{
font-weight: 400;
}
div.feed p.news a{
color:#6C77F4;
font-weight: 900;
}
div.feed p.text{
font-size: 1.0em;
font-weight: 400;
}
div.feed video{
width: 400px;
position: relative;
height: auto;
border-bottom-right-radius: 16px;
border-bottom-left-radius: 16px;
}
div.feed img{
width: 375px;
position: relative;
height: auto;
border-bottom-right-radius: 16px;
border-bottom-left-radius: 16px;
}
@media (min-width: 1024px) {
div.feed img{
width: 512px;
height: auto;
}
div.feed {
margin: 50px 8% 0 8%;
}
}