/* dark-mode */
body.dark-mode {
  background: black url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
  /* textura estilo anos 90 */
  font-family: "Comic Sans MS", "Courier New", Verdana, sans-serif;
  color: #00FF00;
  text-align: center;
  cursor: crosshair;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3 {
  color: #FFDCAB;
  background: linear-gradient(to right, #660000, #000000);
  border: 2px outset #FFDCAB;
  padding: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px #FF00FF;
}

body.dark-mode div.next p {
  color: #00FFFF;
  font-weight: bold;
  text-decoration: underline;
}

body.dark-mode button#loginBtn {
  color: #FFFF00;
  background: linear-gradient(to bottom, #444, #000);
  border: 3px outset #888;
  font-weight: bold;
  cursor: pointer;
}

body.dark-mode header {
  background: #393939;
  border-bottom: 4px ridge #FF00FF;
}

body.dark-mode p {
  color: #FFDCAB;
  font-size: 14px;
}

body.dark-mode #horario_atual {
  color: #F8F148;
  text-shadow: 0 0 5px #FF0000, 0 0 10px #00FF00;
  font-weight: bold;
  font-size: 16px;
}

body.dark-mode div.playing_now {
  background: #470D0D;
  border: 2px inset #FFDCAB;
}

body.dark-mode #startBtn {
  background: #470D0D;
  border: 3px outset #FFD700;
  color: #00FF00;
  text-transform: uppercase;
}

body.dark-mode div.btn_play {
  background: #2C2C2C;
  border: 2px inset #00FFFF;
}

body.dark-mode div.station_message,
body.dark-mode div.btn_play,
body.dark-mode div.next,
body.dark-mode div.info,
body.dark-mode div.feed,
body.dark-mode div.download {
  background: #2C2C2C;
  border: 2px ridge #FF00FF;
  margin: 5px;
  padding: 5px;
}
.blink {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


html, body {
background: #F3F4F6;
}
 

h1, h2, h3 {
color: #fff;
background: #DE2432;
text-shadow: 0 0 8px #F3F4F6;
}
header{
background: #DE2432;
display: flex;
}
button {
  
}
button:hover {
background-color: #00ff8840;
}

audio {
filter: drop-shadow(0 0 6px #F3F4F6);
margin-top: 20px;
}

p {
margin: 10px 0;
font-size: 1.1em;
}

#horario_atual {
color: #00ffee;
font-weight: bold;
text-shadow: 0 0 4px #00ffee;
font-size: 15px;
margin-bottom: 20px;
}
#startBtn {
background: #DE2432;
color:#fff;
font-weight: 900;
width: 170px;
border-radius:20px;
padding:10px;
}

div.playing_now{
margin:30px 25px 0 25px;
border:1px solid #000;
background: #1B2433;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
}
div.playing_now p{
color:#fff;
font-weight: 700;
margin:25px 20px 25px 20px;
}
div.playing_now p strong span{
font-size: 2em;
color:#F49E0B;
}
div.btn_play{
margin:0px 25px 0 25px;
border:1px solid #B2B2B2;
background: #F3F4F6;
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
box-shadow: 3px 3px 15px #ABABAB;
}
div.next{
margin:50px 25px 0 25px;
border:1px solid #B2B2B2;
background: #F3F4F6;
border-radius:16px;
box-shadow: 3px 3px 15px #ABABAB;
}
div.next p{
color:#373737;
font-weight: 700;
margin:25px 20px 25px 20px;
}
div.next p strong span{
font-size: 2em;
color:#F49E0B;
}
div.station_message{
margin:50px 25px 0 25px;
border:1px solid #B2B2B2;
background: #F3F4F6;
border-radius:16px;
box-shadow: 3px 3px 15px #ABABAB;
}
div.station_message p{
margin:30px 25px 30px 25px;
font-weight:900;
}
div.station_message p span{
color:#FC0000;
font-size: 1.2em;
}
div.station_message div.a{
color:#373737;
font-weight: 700;
margin:10px 25px 10px 25px;
border-left: 4px solid #E21D48;
background-color: #FEF2F2;
}
div.station_message div.a p{
padding-left: 2px;
color:#DA2A2A;
font-weight: 800;
}
div.station_message div.b{
color:#373737;
font-weight: 700;
margin:10px 25px 10px 25px;
border-left: 4px solid #3B82F6;
background-color: #EFF6FF;
}
div.station_message div.b p{
padding-left: 2px;
color:#1D4ED7;
font-weight: 800;
}

div.station_message div.c{
color:#373737;
font-weight: 700;
hyphens: auto;
margin:10px 25px 10px 25px;
border-left: 4px solid #F49E0B;
background-color: #FEFBEA;
}
div.station_message div.c p{
padding-left: 2px;
color:#B65F1E;
font-weight: 800;
}

div.info{
margin:50px 25px 0 25px;
border:1px solid #B2B2B2;
background: #F3F4F6;
border-radius:16px;
box-shadow: 3px 3px 15px #ABABAB;
}
div.info p{
margin:30px 25px 30px 25px;
font-weight:400;
}
div.info p.sobre{
font-weight: 900;
}
div.info p.sobre span{
color:#F49E0B;
font-size: 1.2em;
font-weight: 900;
}
div.download{
margin:50px 25px 0 25px;
border:1px solid #B2B2B2;
background: #DD242C;
border-radius:16px;
box-shadow: 3px 3px 15px #ABABAB;
}
div.download p{
color:#fff;
}
div.download p.app{
font-weight: 900;
margin:20px 0 10px 0;
font-size:1.2em;
color:#fff;
}
div.download button{
background: #fff;
padding:8px;
font-weight: 900;
margin: 20px 0 20px 0;
border-radius:16px;
color:#DD242C;
width: 128px;
display:flex;
}
div.download button img{
margin-right: 8px;
}

footer{
background: #202938;
padding:25px;
margin-top: 50px;
}
footer p{
font-weight: 900;
font-size: 1.4em;
color:#fff;
display:inline-flex;
}
footer p.copyright, footer p.contact{
font-weight: 400;
font-size: 1.0em;
color:#9BA1AD;
margin-top: 20px;
}